astroid==1.6.6
autopep8==1.4.4
backports.functools-lru-cache==1.5
configparser==3.7.4
enum34==1.1.6
futures==3.2.0
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
pep8==1.7.1
pycodestyle==2.5.0
pylint==1.9.4
singledispatch==3.4.0.3
six==1.12.0
wrapt==1.11.1
